<div class="row">
  <div class="col-xs-2">
    <div class="container"></div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Asignaturas</h5>
        <div class="card-text">
          <div class="col-xs-6">
            <table class="table table-sm">
              <thead>
                <th>Nombre</th>
                <th>Operations</th>
              </thead>
              <tbody>
                <tr *ngFor="let subject of subjectService.subjects">
                  <td>{{subject.name}}</td>
                  <td>
                    <a (click)="subjectDetail(subject._id)">
                      <i class="material-icons">info</i>
                    </a>
                    <a (click)="deleteSubject(subject._id)">
                      <i class="material-icons">delete</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subjectModal">
          Añadir Asignatura
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Estudiantes</h5>
        <div class="card-text">
          <div class="col-xs-12">
            <table class="table table-sm">
              <thead>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Operations</th>
              </thead>
              <tbody>
                <tr *ngFor="let student of studentService.students">
                  <td>{{student.name}}</td>
                  <td>{{student.address}}</td>
                  <td>
                    <a (click)="editStudent(student._id)">
                      <i class="material-icons">edit</i>
                    </a>
                    <a (click)="deleteStudent(student._id)">
                      <i class="material-icons">delete</i>
                    </a>


                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studentModal"
          (click)="add==true">
          Añadir Estudiante
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="container"></div>
  </div>

  <!-- Subject Modal -->
  <div class="modal fade" id="subjectModal" tabindex="-1" role="dialog" aria-labelledby="subjectModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="subjectModal">Añadir Asignatura</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form #subjectForm="ngForm" (ngSumbit)="addSubject(subjectForm)">
            <div class="form-group row">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="subjectService.selectedSubject._id">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input id="subjectName" class="form-control" type="text" name="name" #name="ngModel"
                  [(ngModel)]="subjectService.selectedSubject.name" placeholder="Nombre de la asignatura">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addSubject(subjectForm)" data-dismiss="modal">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Student Modal -->
  <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="studentModal">Añadir estudiante</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #studentForm="ngForm" (ngSumbit)="addStudent(studentForm)">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input id="studentName" class="form-control" type="text" name="name" #name="ngModel"
                  [(ngModel)]="studentName" placeholder="Nombre del estudiante">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Dirección</label>
              <div class="col-sm-10">
                <input id="studentAddress" class="form-control" type="text" name="address" #address="ngModel"
                  [(ngModel)]="studentAddress" placeholder="Dirección del estudiante">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Descripción Teléfono</label>
              <div class="col-sm-10">
                <input id="studentKey" class="form-control" type="text" name="key" #address="ngModel"
                  [(ngModel)]="studentKey" placeholder="Fijo o Móvil">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Número</label>
              <div class="col-sm-10">
                <input id="studentValue" class="form-control" type="text" name="value" #address="ngModel"
                  [(ngModel)]="studentValue" placeholder="Número">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addStudent(studentForm)" data-dismiss="modal">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>
